body {
    margin: 0%
}

$color-header: rgb(244, 243, 243, 0.75);
$color-primario: rgb(33, 32, 39);
$color-secundario: rgba(243, 238, 238, 0.70);

@import './media-queries';

@import './layout/header';

@import './layout/footer';

@import './pages/discografia';

@import './pages/contacto';

@import './pages/index';

@import './pages/tienda';

@import './pages/tour';





