.discografia{
    background: rgb(33,32,39);
    background: linear-gradient(180deg, rgba(33,32,39,1) 0%, rgba(33,26,39,1) 0%, rgba(33,23,39,1) 34%, rgba(71,58,79,1) 64%, rgba(255,255,255,1) 100%);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .spotify{
        width: 80%;
        margin-bottom: 40px;
        margin-top: 150px;
        @include media-querie-mobile{
            margin-top: 370px;
            }
    }
    .disco {
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 30px;
        background-color: rgba(243, 238, 238, 0.60);
        font-family: Amatic SC;
        padding: 30px;
        font-size: 30px;
        text-align: center;
        -webkit-box-shadow: 8px 10px 21px 0px rgba(0,0,0,1);
            -moz-box-shadow: 8px 10px 21px 0px rgba(0,0,0,1);
            box-shadow: 8px 10px 21px 0px rgba(0,0,0,1);
        @include media-querie-mobile{
            padding: 10px;    
            font-size: 25px;
            height: 300px;
            width: 220px;
            h2 {
            margin-top: 5px;
            margin-bottom: 10px;
            }
        }
        .portadaDisco img{
            width: 200px;
            border-radius: 20px;
            padding: 10px;
            @include media-querie-mobile{
                margin-top: 10px;
                margin-bottom: 5px;
                width: 160px;
            }
        }
        .escuchar a{
            background-color: $color-primario;
            color:$color-secundario;
            border-radius: 8px;
            padding: 8px 16px;
            font-size: 20px;
            width: fit-content;
            text-decoration: none;
            font-family: Amatic SC;
            font-style: bold;
            font-weight: 800;
        }
        .escuchar a:hover{
                background-color: $color-secundario;
                color:$color-primario;
            }
    }
    .disco:hover{
        transform: translateY(-15px);
        transition: all 0.5s ease;
        }
    }
    


