.gira{
    background-color: $color-primario;
    width: 100%;
    background-color:$color-primario;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .videoTour{
        width: 100%;
        height: 500px;
        margin-top: 140px;
        @include media-querie-mobile{
            width: 100%;
            height: fit-content;
            margin-top: 250px;
        }
    } 
    .fechasTour{
        h2 {
            font-size: 80px;
            font-family: Amatic SC;
            color:$color-secundario;
            font-style: bold;
            @include media-querie-mobile{
                margin-top: 10px;
                text-align: center;
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
        ol{
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                text-decoration: none;
                list-style-type: none;
                font-family: Amatic SC;
                color:  $color-secundario;
                font-style: bold;
                font-size: 30px;
                @include media-querie-mobile{
                    font-size: 20px;
                }
            }
        }
        a {
            text-decoration: none;
            margin-top: 10px;
            margin-bottom: 20px;
            border-radius: 8px;
            padding: 8px 16px;
            font-size: 20px;
            width: fit-content;
            font-family: Amatic SC;
            font-style: bold;
            font-weight: 1000;
            @include media-querie-mobile{
                font-size: 15px;
                padding: 2px 6px;
            }
            
        }

    }
}

